/* basic */
.board {
    background: rgb(13, 107, 29);
    background: linear-gradient(34deg, rgba(13, 107, 29, 1) 21%, rgba(11, 77, 16, 1) 65%, rgba(11, 82, 30, 0.9752275910364145) 92%);
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    min-height: 85vh;
    border-radius: 10px;
    box-shadow: 9px 9px 29px 4px rgba(6, 27, 16, 1);
    justify-content: space-around;
}

.btn {
    color: azure;
    font-size: 1.5rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(67, 9, 67);
    transition: .3s linear;
    box-shadow: 9px 9px 29px 4px rgba(6, 27, 16, 1);
}

.btn:hover {

    background-color: rgb(113, 10, 113);
}

.btn.btn_in_betting {
    margin-top: .5rem;
}


/* betting */
.board.betting {
    justify-content: center;
    align-items: center;
}

.betting__container {
    font-size: 2rem;
    color: azure;
    background: rgb(54, 13, 107);
    background: linear-gradient(34deg, rgba(54, 13, 107, 1) 20%, rgba(44, 11, 77, 1) 61%, rgba(47, 11, 82, 0.9752275910364145) 92%);
    box-shadow: 9px 9px 29px 4px rgba(6, 27, 16, 1);
    padding: 1rem;
}

.betting__container input {
    font-size: 2rem;
    width: 50%;
    color: azure;
    background: rgb(71, 13, 107);
    background: linear-gradient(34deg, rgba(71, 13, 107, 1) 20%, rgba(54, 11, 77, 1) 61%, rgba(54, 11, 82, 0.9752275910364145) 92%);
    border: none;
    text-align: center;
}

/* throwing dices */
.dices__row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.tick-field__row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-self: center;
}

.player {
    padding: .5rem;
}

/* Results */

.btn_result_container {
    display: flex;
    justify-content: center;
}

.result__container {
    font-size: 1.7rem;
    align-self: center;
    padding: .5rem;
}

.handle__game {
    display: flex;
    align-self: center;

}

.button__container {
    display: flex;
    margin-left: 3rem;
    background-color: rgb(38, 3, 38);
    border-radius: 5rem;
    padding: 1.4rem;

}

.win {
    font-size: 2.1rem;
    background-color: black;
    color: azure;
    border-radius: 5rem;
    padding: 1.4rem;

}

.result {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(84, 1, 84);
}